Python 3.8 or higher

Required built-in Python modules:

* csv
* sys
* collections (for deque)

CSV dataset files required in a folder (either 'large' or 'small'):

* people.csv
* movies.csv
* stars.csv

